In [10]:
import pandas as pd 
from sqlalchemy import create_engine
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxis')
df = pd.read_csv('green_tripdata_2019-09.csv', nrows=100)
print (pd.io.sql.get_schema(df, 'green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [ ]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
print (pd.io.sql.get_schema(df, 'green_taxi_data'))

In [ ]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine,index=False)

In [11]:
 df_iter = pd.read_csv('green_tripdata_2019-09.csv', iterator=True, chunksize=100000)

In [12]:
from time import time

In [13]:
while True: 

        try:
            t_start = time()
            
            df = next(df_iter)

            df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
            df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

            df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

            t_end = time()

            print('Inserted another chunk, took %.3f second' % (t_end - t_start))

        except StopIteration:
            print("Finished ingesting data into the postgres database")
            break

Inserted another chunk, took 10.150 second
Inserted another chunk, took 10.220 second
Inserted another chunk, took 10.784 second

C:\Users\mohamed_elahmadi\AppData\Local\Temp\ipykernel_19404\3869759973.py:6: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted another chunk, took 10.072 second
Inserted another chunk, took 4.056 second
Finished ingesting data into the postgres database

In [14]:
print (pd.io.sql.get_schema(df, 'green_taxi_data'))

CREATE TABLE "green_taxi_data" (
"VendorID" REAL,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" REAL,
  "RatecodeID" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL
)

In [2]:
import pandas as pd 
from sqlalchemy import create_engine
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxis')

df = pd.read_csv('taxi+_zone_lookup.csv', nrows=100)

In [3]:
print (pd.io.sql.get_schema(df, 'green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [4]:
df.head(n=0).to_sql(name='zones', con=engine,index=False)

0

In [8]:
from time import time

df_iter = pd.read_csv('taxi+_zone_lookup.csv', iterator=True, chunksize=100000)

while True: 

        try:
            t_start = time()
            df = next(df_iter)
            df.to_sql(name='zones', con=engine, if_exists='append')

            t_end = time()

            print('Inserted another chunk, took %.3f second' % (t_end - t_start))

        except StopIteration:
            print("Finished ingesting data into the postgres database")
            break

Inserted another chunk, took 0.079 second
Finished ingesting data into the postgres database

In [14]:
print (pd.io.sql.get_schema(df, 'zones', con=engine))

CREATE TABLE zones (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag FLOAT(53),
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)